.blog-archive-sidebar {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 25px;
}

.blog-archive-category-picker {
	background-color: $background-white;
	flex: 0 0 80px;
	width: 100%;
	margin-bottom: 25px;
	border-radius: 3px;
}

.blog-archive-subs {
	background-color: $background-dark;
	flex: 1 1;
	width: 100%;
	border-radius: 3px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	&--max-height {
		max-height: 360px;
	}
	.blog-archive-subs-header {
		h3 {
			margin-bottom: 20px;
			color: white;
		}
		p {
			color: white;
		}
	}
}

.blog-archive-category-picker {
	padding: 25px;
	h2 {
		margin-bottom: 0;
	}
}
