.blog-item {
	background-color: $background-white;
	margin-bottom: 25px;
	border-radius: 3px;
}

.blog-image {
	img {
		width: 100%;
		height: 200px;
	}
}

.blog-title {
	font-size: 22px;
	min-height: 131px;
}

.blog-content {
	padding: 20px;
}

.blog-item-permalink {
	display: block;
	text-decoration: none;
	color: inherit;
}

.blog-item-footer {
	display: flex;
	align-items: center;
}

.blog-item-reading-time {
	color: $primary;
}

.blog-item-category {
	color: $secondary;
}

.blog-item-divider {
	width: 3px;
	height: 3px;
	background-color: $primary;
	border-radius: 1000px;
	margin: 0 10px;
}
