.blog-single-image {
	img {
		width: 100%;
	}
	margin-bottom: 50px;
}

.blog-single-title {
	margin-bottom: 15px;
}

.blog-single-meta {
	margin: 40px 0 20px;
}

.blog-single-author-link {
	text-decoration: none;
	color: $secondary;
}

.blog-single-time-stamp-link {
	font-style: italic;
	text-decoration: none;
}
