.button {
	padding: 14px 62px;
	border: 2px solid white;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-align: center;
	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.btn {
	width: 100%;
	outline: none;
	border: 0;
	border-radius: 2px;
	padding: 10px 0;
	font-weight: bold;
	font-family: 'GlanceSans';
	&--primary {
		background-color: $secondary !important;
		color: white !important;
	}
}
