.vscf-container {
	input {
		background-color: $background-white;
		padding: 12px 20px;
		margin-bottom: 20px;
		border: 1px solid $gray;
		border-radius: 2px;
		width: 100% !important;
	}
	textarea {
		background-color: $background-white;
		padding: 12px 20px;
		margin-bottom: 20px;
		border: 1px solid $gray;
		border-radius: 2px;
		width: 100% !important;
	}
	button {
		width: 100%;
		outline: none;
		border: 0;
		border-radius: 2px;
		padding: 10px 0;
		font-weight: bold;
        font-family: "GlanceSans";
        background-color: $secondary;
        color: white
	}
}
