.div-number {
    font-size: 28px;
    font-weight: 300;
	&:before {
		display: block;
		position: absolute;
		left: -70px;
		top: calc(50% - 3rem);
		transform: translateY(-30%);
		font-size: 64px;
        font-weight: bold;
        font-family: "GlanceSans";
	}
	&--one {
		&:before {
			content: "1";
		}
	}
	&--two {
		&:before {
			content: "2";
		}
	}
}
