.site-footer {
	background-color: $background-light;
	padding: 2rem 0;
	text-align: center;
	&--dark {
		background-color: $background-dark;
		.footer-menu {
			li {
				a {
					color: white;
				}
			}
		}
		small {
			color: white;
		}
	}
}

.footer-social {
	height: 36px;
	width: 36px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	&--facebook {
		background-image: url("./../img/facebook.svg");
		margin-right: 15px;
	}

	&--instagram {
		background-image: url("./../img/instagram.svg");
		margin-right: 15px;
	}
	&--linkedin {
		background-image: url("./../img/linkedin.svg");
	}
}

.footer-menu {
	list-style: none;
	text-align: center;
	padding: 20px 0 0 0;
	li {
		display: inline-block;
		a {
			padding: 16px;
			text-decoration: none;
			color: $primary;
			font-weight: bold;
		}
	}
}
