.site-header {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.navigation-container {
	height: 100px;
}

.header-section {
	background: $primary;
	padding: 7rem 0;
	min-height: calc(100vh - 169px);
	display: flex;
	align-items: center;
	color: white;
	@media screen and (max-width: 768px) {
		padding-top: 100px;
	}
}

.header-small {
	background: $primary;
	height: 200px;
	display: flex;
	align-items: flex-end;
	color: white;
	&--light {
		background: $background-light;
	}
	@media screen and (max-width: 768px) {
		height: 100px;
	}
}

.header-smaller {
	background: $primary;
	height: 100px;
	display: flex;
	align-items: flex-end;
	color: white;
}

.header-image {
	@media screen and (max-width: 768px) {
		display: none;
		padding: 10px 0 40px;
	}
}

.header-row {
	@media screen and (max-width: 768px) {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: reverse !important;
		-ms-flex-direction: column-reverse !important;
		flex-direction: column-reverse !important;
	}
}
