.navigation-container {
	display: flex;
	align-items: center;
}

.main-navigation {
	flex: 1 1;
	ul {
		display: flex;
		justify-content: right;
		list-style: none;
		li {
			margin-bottom: 0;
			a {
				color: white;
				padding: 13px 25px;
			}
		}
	}
	&--dark {
		ul {
			li {
				margin-bottom: 0;
				a {
					color: $primary;
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.wpmm-button {
	display: block;
	margin-left: auto;
	background: transparent;
	border: none;
	cursor: pointer;
	@media screen and (min-width: 769px) {
		display: none;
	}
}

.menu-item {
	a {
		font-family: "GlanceSans";
		font-weight: bold;
		text-decoration: none;
	}
}
