.section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-self: center;
	padding: 70px 0;
	&--bg-white {
		background-color: $background-white;
	}
	&--bg-light {
		background-color: $background-light;
	}
	&--bg-dark {
		background-color: $background-dark;
		color: white;
	}
	&--bg-full-image {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	@media screen and (min-width: 769px) {
		padding: 0;
	}
}
