body {
	font-family: "Mulish";
	font-size: 1.2rem;
	line-height: 1.5;
	&.blog,
	&.single-post {
		background-color: $background-light;
	}
	&.page-thank-you {
		background-color: $background-dark;
	}
	&.page-homepage, &.page-solutions {
		img {
			@media screen and (max-width: 768px) {
				margin: 40px 0;
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 3rem 0;
	font-family: "GlanceSans";
	font-weight: bold;
}

.section-title-font {
	font-family: "GlanceSans";
	font-size: 1.5rem;
	&--large {
		font-size: 3rem;
	}
}

p {
	margin: 0 0 3rem 0;
}

ul {
	padding: 0 0 0 20px;
	margin: 0;
	li {
		margin-bottom: 20px;
	}
}

.thank-you-title {
	text-align: center;
	font-size: 4.375rem;
}

img {
	max-width: 100%;
}

.row-inverse-mobile{
	@media screen and (max-width: 768px) {
		flex-direction: column-reverse;
	}
}
