@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-ExtraBold.eot");
	src: url("./../fonts/Mulish-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-ExtraBold.woff2") format("woff2"),
		url("./../fonts/Mulish-ExtraBold.woff") format("woff"),
		url("./../fonts/Mulish-ExtraBold.svg#Mulish-ExtraBold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-Black.eot");
	src: url("./../fonts/Mulish-Black.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-Black.woff2") format("woff2"),
		url("./../fonts/Mulish-Black.woff") format("woff"),
		url("./../fonts/Mulish-Black.svg#Mulish-Black") format("svg");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-ExtraLight.eot");
	src: url("./../fonts/Mulish-ExtraLight.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-ExtraLight.woff2") format("woff2"),
		url("./../fonts/Mulish-ExtraLight.woff") format("woff"),
		url("./../fonts/Mulish-ExtraLight.svg#Mulish-ExtraLight") format("svg");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-BlackItalic.eot");
	src: url("./../fonts/Mulish-BlackItalic.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-BlackItalic.woff2") format("woff2"),
		url("./../fonts/Mulish-BlackItalic.woff") format("woff"),
		url("./../fonts/Mulish-BlackItalic.svg#Mulish-BlackItalic") format("svg");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-Bold.eot");
	src: url("./../fonts/Mulish-Bold.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-Bold.woff2") format("woff2"),
		url("./../fonts/Mulish-Bold.woff") format("woff"),
		url("./../fonts/Mulish-Bold.svg#Mulish-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-BoldItalic.eot");
	src: url("./../fonts/Mulish-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-BoldItalic.woff2") format("woff2"),
		url("./../fonts/Mulish-BoldItalic.woff") format("woff"),
		url("./../fonts/Mulish-BoldItalic.svg#Mulish-BoldItalic") format("svg");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-ExtraBoldItalic.eot");
	src: url("./../fonts/Mulish-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-ExtraBoldItalic.woff2") format("woff2"),
		url("./../fonts/Mulish-ExtraBoldItalic.woff") format("woff"),
		url("./../fonts/Mulish-ExtraBoldItalic.svg#Mulish-ExtraBoldItalic") format("svg");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-ExtraLightItalic.eot");
	src: url("./../fonts/Mulish-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-ExtraLightItalic.woff2") format("woff2"),
		url("./../fonts/Mulish-ExtraLightItalic.woff") format("woff"),
		url("./../fonts/Mulish-ExtraLightItalic.svg#Mulish-ExtraLightItalic") format("svg");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-SemiBold.eot");
	src: url("./../fonts/Mulish-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-SemiBold.woff2") format("woff2"),
		url("./../fonts/Mulish-SemiBold.woff") format("woff"),
		url("./../fonts/Mulish-SemiBold.svg#Mulish-SemiBold") format("svg");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-Italic.eot");
	src: url("./../fonts/Mulish-Italic.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-Italic.woff2") format("woff2"),
		url("./../fonts/Mulish-Italic.woff") format("woff"),
		url("./../fonts/Mulish-Italic.svg#Mulish-Italic") format("svg");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-Light.eot");
	src: url("./../fonts/Mulish-Light.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-Light.woff2") format("woff2"),
		url("./../fonts/Mulish-Light.woff") format("woff"),
		url("./../fonts/Mulish-Light.svg#Mulish-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-MediumItalic.eot");
	src: url("./../fonts/Mulish-MediumItalic.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-MediumItalic.woff2") format("woff2"),
		url("./../fonts/Mulish-MediumItalic.woff") format("woff"),
		url("./../fonts/Mulish-MediumItalic.svg#Mulish-MediumItalic") format("svg");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-LightItalic.eot");
	src: url("./../fonts/Mulish-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-LightItalic.woff2") format("woff2"),
		url("./../fonts/Mulish-LightItalic.woff") format("woff"),
		url("./../fonts/Mulish-LightItalic.svg#Mulish-LightItalic") format("svg");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-SemiBoldItalic.eot");
	src: url("./../fonts/Mulish-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-SemiBoldItalic.woff2") format("woff2"),
		url("./../fonts/Mulish-SemiBoldItalic.woff") format("woff"),
		url("./../fonts/Mulish-SemiBoldItalic.svg#Mulish-SemiBoldItalic") format("svg");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-Medium.eot");
	src: url("./../fonts/Mulish-Medium.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-Medium.woff2") format("woff2"),
		url("./../fonts/Mulish-Medium.woff") format("woff"),
		url("./../fonts/Mulish-Medium.svg#Mulish-Medium") format("svg");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mulish";
	src: url("./../fonts/Mulish-Regular.eot");
	src: url("./../fonts/Mulish-Regular.eot?#iefix") format("embedded-opentype"),
		url("./../fonts/Mulish-Regular.woff2") format("woff2"),
		url("./../fonts/Mulish-Regular.woff") format("woff"),
		url("./../fonts/Mulish-Regular.svg#Mulish-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-Black.woff2") format("woff2"),
		url("./../fonts/GlanceSans-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-Bold.woff2") format("woff2"),
		url("./../fonts/GlanceSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-BlackItalic.woff2") format("woff2"),
		url("./../fonts/GlanceSans-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-BoldItalic.woff2") format("woff2"),
		url("./../fonts/GlanceSans-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSansBook";
	src: url("./../fonts/GlanceSans-Book.woff2") format("woff2"),
		url("./../fonts/GlanceSans-Book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-LightItalic.woff2") format("woff2"),
		url("./../fonts/GlanceSans-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-Light.woff2") format("woff2"),
		url("./../fonts/GlanceSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-Medium.woff2") format("woff2"),
		url("./../fonts/GlanceSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-Regular.woff2") format("woff2"),
		url("./../fonts/GlanceSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-RegularItalic.woff2") format("woff2"),
		url("./../fonts/GlanceSans-RegularItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-MediumItalic.woff2") format("woff2"),
		url("./../fonts/GlanceSans-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-Thin.woff2") format("woff2"),
		url("./../fonts/GlanceSans-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/Glance Sans.woff2") format("woff2"),
		url("./../fonts/Glance Sans.woff") format("woff");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GlanceSans";
	src: url("./../fonts/GlanceSans-ThinItalic.woff2") format("woff2"),
		url("./../fonts/GlanceSans-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
